/* --------------------------------------------
Project   : QR Code Component (Frontend Mentor)
Author    : Langit Amaravati
Author URI: https://www.langitamaravati.com
Version   : v.0.0
-------------------------------------------- */

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Root */
:root {
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
}

/* Global */
body {
  background-color: var(--light-gray);
  font-family: "Outfit", sans-serif;
  height: 100vh;
  display: grid;
  /* grid: 100vh / repeat(12, 1fr); */
  /* grid-template-column: repeat(12, 1fr),
  grid-template-rows: 90vw 10vh;
  grid-gap: 10px; */
  /* height: 100vh; */
  /* display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; */
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-rows: 10vh 80vh 10vh; */
}

p {
  font-size: 15px;
  color: var(--grayish-blue);
}

.main-container {
  grid-column: 1 / 4;
  grid-row: 2 / 3;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Qr Section */
.section-qr {
  text-align: center;
  background-color: var(--white);
  padding: 20px 20px 40px;
  border-radius: 20px;
  box-shadow: 5px 5px 20px hsl(220, 15%, 70%);
}

.qr-title {
  margin-top: 30px;
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: var(--dark-blue);
}

.img-qr {
  width: 100%;
  height: auto;
}

/* Atribution */
footer {
  font-size: 11px;
  padding: 20px;
  grid-column: 1 / 13;
  grid-row: 3 / 4;
  align-self: center;
}

.attribution {
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* ---- Responsive -----*/
@media only screen and (max-width: 768px) {
  .section-qr {
    flex-basis: 70%;
  }

  .qr-title {
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 768.88px) and (max-width: 991.98px) {
  .section-qr {
    flex-basis: 60%;
  }
}

@media only screen and (min-width: 992px) {
  .section-qr {
    flex-basis: 25%;
  }

  .qr-title {
    font-size: 1.5rem;
  }
}

@media (min-width: 1200px) {
  .section-qr {
    flex-basis: 23%;
  }
}
